node_modules
node_modules
node_modules
credentials/
credentials
credentials.json
.env
.expo
android
# Ignore all files in the .history directory
.history/
# Optionally, ignore any other specific patterns or files
package-lock.json
yarn.lock
eas.json